@import "../../../styles/common";

.default {
  padding: 50px;
  min-height: 300px;
  border-radius: $br;
  letter-spacing: .025em;
  text-align: center;

  border: 1px dashed $uploader-border-color;

  &.drag {
    background-color: $uploader-bg-color-drop;
    border-color: rgba($accent, .5);

    > div {
      pointer-events: none;
    }
  }

  .text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    line-height: 1.5;

    > span {
      &:nth-child(1) {
        font-size: 1.5em;
        color: $text-color-1;
      }

      &:nth-child(2) {
        font-size: .875em;
        font-weight: 300;
        color: $text-color-2;
      }

      &:nth-child(4) {
        font-size: .75em;
        font-weight: 300;
        color: $text-color-2;
      }
    }
  }

  .browseButton {
    margin: 10px auto;
    overflow: hidden;
    box-shadow: 0 0 0 0 rgba($accent, .5);
    transition: all $time $func;
    border-radius: 1px;

    > span {
      display: inline-block;
      min-width: 150px;
      padding: 12px 40px;
      line-height: 1;
      background-color: $accent;
      transition: all $time $func;
      border-radius: $br;
      cursor: pointer;
      color: #fff;
    }

    &:hover > span {
      background-color: adjust-hue($accent, 30deg);
    }

    &:active {
      box-shadow: 0 0 6px 9px rgba($accent, 0);
    }

    > input {
      display: none;
    }
  }
}
