%item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.25;
  transition: all $time $func;

  &:nth-child(2n+1) {
    background-color: $item-bg-color;
  }

  .inner {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    padding: 5px 10px 5px 20px;
    color: $item-color;
  }

  .name {
    margin-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .size {
    margin-left: auto;
    white-space: nowrap;

    > span {
      display: none;
      color: $accent;

      &:after {
        padding: 0 3px;
        content: '/';
      }
    }
  }

  .controls {
    display: flex;
    // flex-basis: 90px;
    min-width: 90px;
    justify-content: flex-end;

    @media (max-width: 420px) {
      flex-basis: 70px;
      min-width: 70px;
    }

    button {
      background: transparent;
    }

    .btnDownload, .btnRetry, .btnView, .btnClose {
      @include square(30px);
      flex-basis: 30px;
      border: 0;
      font-size: 0.7em;
      color: $text-color-2;
      text-decoration: none;
      border-radius: $br;
      transition: all $time $func;

      i {
        transition: none;
      }

      @media (min-width: 420px) {
        margin-left: 10px;
      }

      &:hover {
        color: #fff;
      }
    }

    .btnRetry {
      display: none;
      box-shadow: 0 0 0 0 rgba($error-color, .5);

      &:hover {
        background-color: $error-color;
      }

      &:active {
        box-shadow: 0 0 6px 9px rgba($error-color, 0);
      }
    }

    .btnView, .btnDownload {
      box-shadow: 0 0 0 0 rgba($accent, .5);

      &:hover {
        background-color: $accent;
      }

      &:active {
        box-shadow: 0 0 6px 9px rgba($accent, 0);
      }
    }

    .btnClose {
      box-shadow: 0 0 0 0 rgba($accent, .5);

      &:hover {
        background-color: $info-btn-hover-bg-color;
      }

      &:active {
        box-shadow: 0 0 6px 9px rgba($accent, 0);
      }
    }
  }
}

%item-with-states {
  @extend %item;

  &.error:nth-child(2n+1) {
    background-color: $item-error-bg-color;
  }

  &.loading:nth-child(2n+1) {
    background-color: $item-loading-bg-color;
  }

  &.error .inner {
    color: $item-error-color;
  }

  .errorMessage {
    display: none;
    width: 100%;
    padding: 0 10px 5px 20px;
    top: -5px;
    color: $error-color;
    font-size: .9em;
  }

  .progress {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
  }

  &.loading .progress {
    background-color: $loading-bg-color;
  }

  &.loading .size {
    > span {
      display: inline-block;
    }
  }

  &.error .size > span {
    color: $item-loading-info-color;
  }

  &.error .errorMessage {
    display: block;
  }

  &.error:not(.fatal) .btnRetry {
    display: flex;
  }

  &.error .btnView, &.loading .btnView {
    display: none;
  }

  @keyframes success {
    0% {
      background-color: initial;
    }
    50% {
      background-color: $accent;
    }
    100% {
      background-color: initial;
    }
  }

  @keyframes flip {
    0% {
      color: $item-color;
    }
    50% {
      color: #000;
    }
    100% {
      color: $item-color;
    }
  }

  &.success {
    animation: success 2s;

    > div {
      animation: flip 1s;
    }
  }
}

%box {
  padding: 50px;
  border-radius: $br;
  letter-spacing: .025em;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

%ajax-loading {
  @extend %box;
  color: $info-btn-color;

  > span {
    margin-right: -12px;
  }
}

%ajax-error {
  @extend %box;
  background-color: $item-error-bg-color;

  > span {
    &:first-of-type {
      font-size: 1.5em;
      color: $error-color;
    }

    + span {
      color: $info-btn-color;
    }
  }

  > svg {
    margin-bottom: 10px;
  }
}

%button {
  vertical-align: middle;
  white-space: nowrap;
  border-radius: $br;
}