@import "../../../styles/common";

.default {
  display: flex;
  font-size: .875em;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 0 0 20px;

  > span {
    flex-grow: 1;
    display: block;
    min-width: 33.33%;
    padding: 7px 20px;
    color: $text-color-2;
    white-space: nowrap;
  }

  > div {
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;

    > input, > button {
      height: 30px;
      line-height: 1.2;
      font-family: $font-base;
      @extend %button;
    }

    > input {
      min-width: 190px;
      padding: 7px 20px;
      margin-right: 10px;
      border: 1px solid rgba(#000, .1);
      background: darken($bg, 3);
      color: $text-color-1;
    }

    > button {
      min-width: 80px;
      color: $info-btn-color;
      background: $info-btn-bg-color;
      box-shadow: 0 0 0 0 rgba($accent, .5);

      &:hover {
        background-color: $info-btn-hover-bg-color;
        color: #fff;
      }

      &:active {
        box-shadow: 0 0 6px 9px rgba($accent, 0);
      }
    }
  }

}
